<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{site.title}}</title>
</head>
<body>

<h1>{{site.title}}</h1>

<p>欢迎来到天圆地方（中文）模组文档，您可以通过 
    <a href="https://天圆地方.qinggu.moe">天圆地方.qinggu.moe</a>
    或
    <a href="https://天圓地方.qinggu.moe">天圓地方.qinggu.moe</a>
    来访问本文档。
</p>



<ul>
  <li><a href="/doc/latest">阅读模组文档（施工中）</a></li>
  <li><a href="/api/latest">阅读模组 API 文档（计划中）</a></li>
</ul>

</body>
</html>